.Loading {
    height: 100vh;
    background-image: linear-gradient(
                                to right bottom, 
                                rgba(120, 221, 221, 0.3), 
                                rgba(39, 141, 182, 0.5)),
                      url(../../assets/image/road-asphalt-min.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */


}

.TextBox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.HeadingPrimary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.HeadingPrimaryMain {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.HeadingPrimarySub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
    animation: moveInRight 2s ease-out;
}

.Button {
    background-color: white;
    color: #777;
    padding: 15px 40px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 10px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    transition: all .2s;
}

.Button:focus {
    outline: none;
}
.Button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(255,255,255,.2);
}

.Button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255,255,255,.2);
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}