.Para {
    height:50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: #EFEFEF;
    padding: 10px;
    color: rgb(68, 63, 63);
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
    animation: enable 0.3s linear;
    border-radius: 5px;
    font-weight: 600;
}

.List {
    overflow: auto;
    height: 65vh;
}

.Close {
    color: red;
    font-weight: bold;
    transition: 0.4s linear;
    opacity: 0;
}

.Para:hover .Close {
    opacity: 1;

}
.Close:hover {
    cursor: pointer;
}

.Close .Tooltiptext {
    visibility: hidden;
    width: 100px;
    font-size: 70%;
    background-color: rgb(90, 83, 83);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 2px;
    position: absolute;
    z-index: 1;
    left: 65%;
}

.Close:hover .Tooltiptext {
    visibility: visible;
  }

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media(max-height: 650px) {
    .List {
        height: 55vh;
    }
}

@media(max-width: 530px) {
    .Close {
        opacity: 1;
    }
    .Para {
        font-size: 3vw;
    }
}